[submodule "CPiscine"]
	path = CPiscine
	url = git@github.com:GabrielReusRodriguez/CPiscine.git
[submodule "Piscine-Reloaded"]
	path = Piscine-Reloaded
	url = git@github.com:GabrielReusRodriguez/Piscine-Reloaded.git
[submodule "libft"]
	path = libft
	url = git@github.com:GabrielReusRodriguez/libft.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:GabrielReusRodriguez/get_next_line.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:GabrielReusRodriguez/ft_printf.git
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:GabrielReusRodriguez/43_push_swap.git
