# Build artifacts (Piscina y C en general)
bin/
*.out
rush-00
do-op
ft_display_file
ft_cat
ft_tail
src/CommonCore/push_swap/push_swap
src/CommonCore/philosophers/src/philo/philo
src/CommonCore/philosophers/src/philo_bonus/philo
src/CommonCore/philosophers/src/philo_bonus/bonus
src/CommonCore/so_long/so_long
src/CommonCore/so_long/bonus
src/CommonCore/so_long/mlx/test/mlx-test
src/CommonCore/CPP00/ex00/megaphone
src/CommonCore/CPP00/ex01/phonebook
src/CommonCore/CPP00/ex02/account
src/CommonCore/CPP00/ex02/obj/
src/CommonCore/cube3d/cube3d
src/CommonCore/cube3d/mlx42/
src/CommonCore/CPP01/ex00/zombie
src/CommonCore/CPP01/ex01/zombie
src/CommonCore/CPP01/ex02/ex02
src/CommonCore/CPP01/ex03/ex03
src/CommonCore/CPP01/ex04/ex04
src/CommonCore/CPP01/ex04/file.txt.replace
src/CommonCore/CPP01/ex05/ex05
src/CommonCore/CPP01/ex06/harlFilter
src/CommonCore/CPP01/**/obj/
src/CommonCore/CPP01/**/.vscode/
src/CommonCore/CPP02/ex00/ex00
src/CommonCore/CPP02/ex01/ex01
src/CommonCore/CPP02/ex02/ex02
src/CommonCore/CPP02/ex03/ex03
src/CommonCore/CPP02/**/obj/
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
